@{
    ViewData["Title"] = "Login y Registro";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="body">
        <h1>TP login</h1>
    <h3>Disfrute de nuestras increibles funciones despues de ingresar con su cuenta</h3>
    <div class="centro">
        <form action='@Url.Action("Login")'>
        <input type="hidden" name="retry" value=false>
        <button type="submit">Login</button>
    </form>
    <form action='@Url.Action("Registrarse")'>
        <button type="submit">Registrarse</button>
    </form>
    </div>
    </div>
</body>
</html>