<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <h1>TP login</h1>
    <h3>Inicia sesi칩n con tu nombre y contrase침a</h3>
        <form action='@Url.Action("VerifLogin", "Account")' method="post">
        <input type="text" class="formelement" id="username" name="username" placeholder="Nombre de usuario" required>
        <input type="password" class="formelement" id="contrasenia" name="contrasenia" placeholder="Contrase침a" required>
        <input type="submit" class="formelement" value="Ingresar">
    </form>
    @if (ViewBag.retry == true)
    {
        <h2>Datos incorrectos, ingresa de nuevo</h2>
    }
    <form action='@Url.Action("Olvido")'>
        <input type="submit" value="Olvide mi contrase침a">
    </form>
    </div>
</body>
</html>