<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <h1>TP login</h1>
    <h3>Ingresa tu usuario y mail, para recordar tu contraseña.</h3>
    <form action='@Url.Action("Recordado","Account")' method="post">
        <input type="text" class="formelement" id="username" name="username" placeholder="Nombre de usuario">
        <input type="text" class="formelement" id="mail" name="mail" placeholder="Mail">
        <input type="submit" class="formelement" value="Ingresar">
    </form>
    @if (ViewBag.retry == true)
    {
        <h2>Datos incorrectos, ingresa de nuevo</h2>
    }
    </div>
</body>
</html>